.confirmed {
    margin: 10px !important;
    border-bottom: 7px solid rgb(44, 173, 248);
    h6 {
        color: rgb(44, 173, 248);
    }
}

.recovered {
    margin: 10px !important;
    border-bottom: 7px solid rgb(50, 155, 64);
    h6 {
        color: rgb(50, 155, 64);
    }
}

.deaths {
    margin: 10px !important;
    border-bottom: 7px solid rgb(230, 14, 14);
    h6 {
        color: rgb(230, 14, 14);
    }
}