body {
    background-color: seashell;
    color: rgb(57, 57, 90);
    font-family: Arial, Helvetica, sans-serif
};

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    margin: auto;
}